<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="mycss.css">
</head>
<body>
<div class="container">
    <div class="row">
        <header class="col-12">
            <div class="logo col-12 col-md-4">
                <h1>Online shopping mall</h1>
                <h5>The center point of the professional programming</h5>
            </div>
            <div class="banner col-12 col-md-8">
                <img src="images/header-object.png">
            </div>
        </header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
            <a class="navbar-brand" href="#"><i class="fas fa-home"></i> Trang chủ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-clipboard-list"></i> Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-phone-square"></i> Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Góp ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-question-circle"></i> Hỏi đáp</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>
                            Tài khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Đăng nhập</a>
                            <a class="dropdown-item" href="#">Đăng ký</a>
                            <a class="dropdown-item" href="#">Quên mật khẩu</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                            <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                            <a class="dropdown-item" href="#">Cập nhật hồ sơ</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đơn hàng</a>
                            <a class="dropdown-item" href="#">Hàng đã mua</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">English</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Việt Nam</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="row">
                <div class="left  col-12 col-md-9">
                    <article class="left-content">
                        <div class="row">
                            <div class="card col-md-4">
                                <div class="card-header">
                                    Nokia
                                </div>
                                <div class="card-body">
                                    <img src="images/computer.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-footer text-muted">
                                    $ 100.25
                                </div>
                            </div>
                            <div class="card col-md-4">
                                <div class="card-header">
                                    Nokia
                                </div>
                                <div class="card-body">
                                    <img src="images/computer.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-footer text-muted">
                                    $ 100.25
                                </div>
                            </div>
                            <div class="card col-md-4">
                                <div class="card-header">
                                    Nokia
                                </div>
                                <div class="card-body">
                                    <img src="images/computer.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-footer text-muted">
                                    $ 100.25
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card col-md-4">
                                <div class="card-header">
                                    Nokia
                                </div>
                                <div class="card-body">
                                    <img src="images/computer.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-footer text-muted">
                                    $ 100.25
                                </div>
                            </div>
                            <div class="card col-md-4">
                                <div class="card-header">
                                    Nokia
                                </div>
                                <div class="card-body">
                                    <img src="images/computer.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-footer text-muted">
                                    $ 100.25
                                </div>
                            </div>
                            <div class="card col-md-4">
                                <div class="card-header">
                                    Nokia
                                </div>
                                <div class="card-body">
                                    <img src="images/computer.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-footer text-muted">
                                    $ 100.25
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="right col-12 col-md-3">
                    <aside class="right-content col-12">.
                        <div class="poly-cart col-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img class="col-sm-5" src="images/shoppingcart.gif"/>
                                    <ul class="col-sm-7">
                                        <li>100 items</li>
                                        <li>$56.8</li>
                                        <li><a href="#">Xem giỏ hàng</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default col-12">
                            <div class="panel-body">
                                <form>
                                    <input placeholder="Keywords" class="form-control"/>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default col-12">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <strong>Chủng Loại</strong>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Điện thoại di động</a>
                                <a href="#" class="list-group-item">Máy tính xách tay</a>
                                <a href="#" class="list-group-item">Máy tính để bàn</a>
                                <a href="#" class="list-group-item">Quạt máy</a>
                                <a href="#" class="list-group-item">Tivi</a>
                                <a href="#" class="list-group-item">Tủ lạnh</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <footer class="col-12 col-md-12 footer">
            CodeGym © 2017
        </footer>


    </div>
</div>

</body>
</html>